{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %} {% if title %} {{title}} {% else %} {% endif %} {% endblock title %}

{% block content %}
<div class="column is-four-fifths">
    <section class="hero is-dark">
        <div class="hero-body has-text-centered">
            <p class="title">Welcome to Mittal Sports Complex!</p>
            <p class="subtitle">Pick your sport and start booking!</p>
        </div>
    </section>
    <div class="tile is-ancestor section">
        {% for sport in sports %}
            <div class="tile box m-2">
                <p class="title"> {{sport.sport_name}} </p>
                <hr class="navbar-divider">
                <a class="button" href="/sport/{{sport.id}}"> View </a>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}

{% block postBody%}

{% endblock postBody%}